<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bla.DataTransferService">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BluetoothSettingsActivity"
            android:label="@string/title_activity_bluetooth_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GmailSettingsActivity"
            android:label="@string/title_activity_upload_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".GeneralSettingsActivity"
            android:label="@string/title_activity_general_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FilesOnDeviceActivity"
            android:label="@string/title_activity_files_on_device"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TerminalActivity" />
        <activity android:name=".GDriveActivity" />

        <meta-data
            android:name="com.bla.DataTransferService"
            android:value="id=AIzaSyC7UFV7kn2htkn7UTR_weqYsbY6cs1M4Q8" />

        <activity android:name=".GmailUploadActivity"></activity>
    </application>

</manifest>
